@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');

.row{
  text-align:center;
  
}
#choices{
  display:flex;
  justify-content:space-between;
  
}

#rps{
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 50px;
}

p{
  font-size: 30px;
}


#shoot{
   border: groove 4px red;
    border-radius:10px;
    background-color: lightblue;
}

#userChoice{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 40px;
}

#computerChoice{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 40px;
}

.options{
    height: 40px;
    border-radius: 5px;
    border: groove 4px red;
    background-color: white;
    font-family: 'Ceviche One', cursive;
    font-size: 20px;
}

#result{
  font-family: 'Varela Round', sans-serif;
  font-size: 40px;
}